@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: linear-gradient(rgba(255, 255, 255, 0.1) 0%, rgb(0, 0, 0) 100%);
  --background-base: #121212;
  --font-family-sans: "Poppins", serif;
  --primary-text: #616D8A;
  --secondary-text: #183583;
}

body {
  color: var(--foreground);
  font-family: var(--font-family-sans);
  background: var(--background);
}
h1,h2,h3,h4,h5,h6,p{
  color: var(--primary-text);
}
.section-p{
  padding: 30px 250px;
}
.icon{
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.section-m1{
  margin: 20px 100px;
}
li{
  list-style: none;
}
::-webkit-scrollbar {
  display: none;
}


/* Floating Animation */
@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.floating {
  animation: float 3s ease-in-out infinite;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.bouncing{
  animation: bounce 3s ease-in-out infinite;
}
/* Media Queries */
@media(max-width: 1276px){
  .section-p{
      padding: 20px 50px;
  }
  .section-m1{
      margin: 20px 50px;
  }
  .floatingHero{
    display: none;
  }
}
@media(max-width: 575px){
  .section-p{
      padding: 20px;
  }
  .section-m1{
      margin: 20px;
  }
}
